* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  width: 100%;
}
/*start of header nav*/

h1 {
  text-align: center;
  margin-left: 27%;
  font-size: 250%;
}

li {
  display: inline-block;
  margin:60px;
  margin-left: 90px;
  font-size: 20px;

}

header {
  height: 200px;
  background-color:;
  display: inline-block;
  width: 100%;
  vertical-align: middle;

}

nav {
  height: 100px;
  background-color: #CECECE	;
}

ul {
  margin-left: 100px;

}

img {
  height: 200px;
}

img, h1 {
  display: inline-block;
  vertical-align: middle;
}

/*end of header nav*/

/*start of section */

section {
  height: 500px;
}

h2 {
  text-align: center;
}

.img1, .texte1 {
  margin-top: 50px;
}

.img2 {
  width: 300px;
}

/*start of footer*/

footer {
  height: 100px;
  background-color: #CECECE;
  text-align: center;
  margin-top: 250px;
}

.adv {
  margin-left: 20px;
  color: grey;
}

a {
  text-decoration: none;
  color: white;
}


/*page tarifs*/

table {
  border-collapse: collapse;
  font-size: 40px;
  margin-top: 100px;

}

td {
  border: 1px solid black;
}

/*page contact*/
